.bar{
    width: 30px;
    background-color: white;
    border-radius: 10px;
    height: 3px;
    margin: 5px 0;
 }

.navbar-brand  span{
	color: #fed136;
	font-size:32px;
	font-weight:700;
	letter-spacing:0.1em;
    font-family: 'Chilanka', cursive;
}
.navbar-brand {
	color: rgb(0, 0, 0);
	font-size:35px;
    font-family: 'Akronim', cursive;
	font-weight:700;
	letter-spacing:0.1em;
	
}

.navbar-nav .nav-item .nav-link{
	padding: .5em .8em!important;
	font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
	color: rgb(255, 255, 255);
   font-family: 'Gothic A1', sans-serif;
}
.navbar-nav .nav-item .nav-link:hover{color:#000000;}
.navbar-expand-md .navbar-nav{
	color: rgb(0, 89, 255);
}

nav{-webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
	}
	
	nav.navbar ul li a {
		position: relative;
	  }
	  nav.navbar ul li a:after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 0%;
		content: '.';
		color: transparent;
		height: 1px;
	  }
	  
	  
	  nav.navbar ul li a {
		transition: all 2s;
	  }
	  
	  nav.navbar ul li a:after {
		text-align: left;
		content: '.';
		margin: 0;
		opacity: 0;
	  }
	  nav.navbar ul li a:hover {
		color: rgb(0, 0, 0);
		z-index: 1;
	  }
	  nav.navbar ul li a:hover:after {
		z-index: -10;
		animation: navbar .8s forwards;
		-webkit-animation: navbar .8s forwards;
		-moz-animation: navbar .8s forwards;
		opacity: 1;
	  }
	  
	  
	  /* Keyframes */
	  @keyframes navbar {
		0% {
		  width: 0%;
		  height: 1px;
		}
		50% {
		  width: 100%;
		  height: 1px;
		}
		100% {
		  width: 100%;
		  height: 100%;
		  background: rgb(255, 255, 255);
		}
	  }
	  
@media (max-width:500px)
{
	.navbar-nav{
		border-top:3px solid #fed136;
		z-index:1;
		margin-top:5px;
	}
	.navbar-nav .nav-item .nav-link{
	padding: 0.7em 1em!important;
	font-size: 100%;
	font-weight: 500;
	background: black;
	}

}


