html{
  scroll-behavior: smooth;
}

.head{
  text-align: center;
  font-weight: bolder;
  font-family: 'Abril Fatface', cursive;
  font-size: 100px;
    margin-top: 65px;
}


.heading{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 75px;
  
}

.head-img{
    border-radius: 30%;
}
.head-div{
    margin-top: 0px;
}
.first{
    padding-top: 100px;
    background: red;
    height: 860px;
}
.img{
    margin-top: 15px;
    margin-bottom: 15px;
}


/*    gallery   */

.photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }

  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  

  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }

  .ico{
    font-size: 25px;
    text-align: center;
  }
  .ico a{
    margin: 15px;
  }
  
footer{
  color: #ffffff;
  background: #000000;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
}
footer h4{
  font-size: 13px;
}
.footer-left{
  color: #ffffff;
  margin: auto;
  font-size: 25px;
}

.footer-right{
  color: #ffffff;
  margin: auto;
  margin-top: 2em;
  font-size: 25px;
}

.icon:link, .icon:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#about{
  padding-top: 6em;
}

.about-style{
  text-align: center;
  color: #ffffff;
  padding-bottom: 40px;
}

#event{
  padding-top: 6em;
}
.align-items-center{
  text-align: center;
}



.contact-right address{
  font-size: 20px;
  color: #ffffff;
  padding: 20px;
}


.copyright:link, .copyright:visited {
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-weight: bold;
}


body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #ffffff;
  color: #333333;
}

.g-container {
  max-width: 75rem;
  width: 100%;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.main .g-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3 ;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main .g-card {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  color: #333333;
  border-radius: 2px;
}

.main .g-card-image {
  background: #ffffff;
  display: block;
  padding-top: 70%;
  position: relative;
  width: 100%;
}

.main .g-card-image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main{
  padding-top:2em;
}

@media(max-width:1030px){
  .first{
      padding-bottom: 100px;
      height: auto;
  }
  .head-div{
      margin-bottom: -50px;
  }
  .head{
    font-size: 60px;
  }
}


@media (max-width:768px) {
.photo-gallery h2 {
  margin-bottom:25px;
  padding-top:25px;
  font-size:24px;
}

.heading{
  font-size: 25px;
  
}
}


@media only screen and (max-width: 600px) {
  .main .g-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  
}

@media(max-width:425px){
  .first{
      padding-top: 30px;
      height: auto;
  }
  .head-div{
      margin-bottom: -50px;
  }
  .head{
    font-size: 45px;
  }
}


.ctn-preloader {
	align-items: center;
  cursor: none;
	display: flex;
  height: 100%;
  justify-content: center;
	position: fixed;
	left: 0;
  top: 0;
	width: 100%;
  z-index: 900;
}

.ctn-preloader .animation-preloader {
	position: absolute;
  z-index: 100;
}

/* Spinner cargando */
.ctn-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000; /* No se identa por orden alfabetico para que no lo sobre-escriba */
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

/* Texto cargando */
.ctn-preloader .animation-preloader .txt-loading {
  font: bold 5em 'Montserrat', sans-serif;
	text-align: center;
	user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #000000;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
	color: rgba(0, 0, 0, 0.2);
	position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  animation-delay: 1.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
  animation-delay: 1.4s;
}

.ctn-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
	position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

/* Efecto de fade en la animaci칩n de cargando */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

/* Efecto de cortina */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

/* Animaci칩n del preloader */
@keyframes spinner {
	to {
		transform: rotateZ(360deg);
	}
}

/* Animaci칩n de las letras cargando del preloader */
@keyframes letters-loading {
  0%,
  75%,
  100% {
  	opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

/* Tama침o de portatil hacia atras (portatil, tablet, celular) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner cargando */	
	.ctn-preloader .animation-preloader .spinner {
		height: 8em;
		width: 8em;
	}

	/* Texto cargando */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Montserrat', sans-serif;
	}
}

@media screen and (max-width: 500px) {
	/* Prelaoder */
	/* Spinner cargando */
	.ctn-preloader .animation-preloader .spinner {
		height: 7em;
		width: 7em;
	}

	/* Texto cargando */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Montserrat', sans-serif;
	}
}




section#contact {
  background-color: #212529;
  padding-top: 4rem;
}


form#submit-form .form-group {
  margin-bottom: .5rem;
}

form#submit-form .form-group input,
form#submit-form .form-group textarea {
  background: none;
  padding: 1.25rem;
}

form#submit-form .form-group input.form-control {
  background: none;
  height: 2.5em;
  width: 150%;
}

form#submit-form .form-group-textarea textarea {
  height: 100%;
  background: none;
  min-height: 6rem;
  width: 150%;
}

form#submit-form p.help-block {
  margin: 0;
}

form#submit-form .form-control:focus {
  border-color: #3b34a0;
  box-shadow: none;
  background: none;
}

.btn-xl {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1rem;
  font-weight: 700;
}


@media (max-width:768px){
  form#submit-form .form-group input.form-control {
    width: 100%;
  }
  
  form#submit-form .form-group-textarea textarea {
    width: 100%;
  }

}